---
//from-[#000000]  via-[#130102] to-[#391519]
---

<footer class="bg-gradient-to-b from-[#000000]  via-[#130102] to-[#391519]  text-gray-300 h-20 flex justify-center">
    
    <!-- Copyright -->
    <div class="text-center text-xs text-gray-500    items-end  flex p-7">
        Hecho con 💖 por Marcello Rios. Inspirado en múltiples fuentes.
    </div>
</footer>