



<header class="mb-0 ">
    <div class="max-w-4xl mx-auto px-6  py-3 justify-between mb-70">
        <div class="flex flex-col md:flex-row md:items-center md:justify-center">
        <!-- Logo -->
        

        <!-- Navegación -->
            <nav class="flex md:justify-between md:gap-x-5 gap-y-5  text-white  mt-2 md:flex-row flex-col items-center md:items-">
                
                <a href="#projects" class=" hover:font-bold transition-all duration-100 w-40 text-center  text-[20px]">Proyectos</a>
                <a href="#habilidades" class=" hover:font-bold transition-all duration-100 w-40 text-center text-[20px]">Habilidades</a>
                <a href="#Sobre-mi" class=" hover:font-bold transition-all duration-100 w-40 text-center text-[20px]">Sobre mi</a>
            </nav>

        </div>
        
    </div>
</header>