---
import Htmlicono from "./icons/Htmlicono.astro"
import Javascriptico from "./icons/Javascriptico.astro"
import Cssicono from "./icons/Cssicono.astro"
import Figmaico from "./icons/Figmaico.astro"
import Py from "./icons/Py.astro"
import Github from "./icons/Github.astro"
import Obs from "./icons/Obs.astro"
import Sql from "./icons/Sql.astro"
import Tailwindico from "./icons/Tailwindico.astro"
import Astroico from "./icons/Astroico.astro"
import Sqlserverico from "./icons/Sqlserverico.astro"
import Nodeico from "./icons/Nodeico.astro"
import Reactico from "./icons/Reactico.astro"
import Nextico from "./icons/Nextico.astro"
import Laravelico from "./icons/Laravelico.astro"
import Bootico from "./icons/Bootico.astro"
---



<section id="habilidades" class="container m-auto p-5 mb-30">
    <div class=" ">
        <h2 class="text-2xl mb-30 md:text-left text-center text-[#E6C68D]">
            Habilidades
        </h2>


        <div class="flex md:flex-col flex-col md:items-start md:text-pretty md:text-left md:gap-y-0 md:m-0 md:max-w-160 max-w-120 m-auto text-center items-center text-pretty gap-y-10 ">

            <div class=" flex">
                <h3 class="font-bold mb-5 text-[20px]">Lenguajes</h3>
            </div>
            <div class="flex flex-wrap  gap-3  md:w-160 items-center min-h-[13] relative ">
                <span class=" h-13"><Javascriptico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13"><Htmlicono class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13"><Cssicono class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13"><Py class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>

            </div>



            <div class=" flex mt-10">
                <h3 class="font-bold mb-5 text-[20px]">Herramientas y otros</h3>
            </div>
            <div class="flex flex-wrap  gap-3  md:w-160 items-center min-h-[13] relative ">
                <span class=" h-13" title="Figma"><Figmaico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="OBS"><Obs class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Sql server"><Sqlserverico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Github"><Github class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Sql"><Sql class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
            </div>



            <div class=" flex mt-10">
                <h3 class="font-bold mb-5 text-[20px]">Frameworks y librerias</h3>
            </div>
            <div class="flex flex-wrap  gap-3  md:w-160 items-center min-h-[13] relative ">
                <span class=" h-13" title="Astro"><Astroico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Tailwind"><Tailwindico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Laravel"><Laravelico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Bootstrap"><Bootico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
            </div>
        


            <div class=" flex mt-10">
                <h3 class="font-bold mb-5 text-[20px]">Aprendiendo actualmente</h3>
            </div>
            <div class="flex flex-wrap  gap-3  md:w-160 items-center min-h-[13] relative ">
                <span class=" h-13" title="Node"><Nodeico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="React"><Reactico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>
                <span class=" h-13" title="Next"><Nextico class="w-10 h-10 hover:w-13 hover:h-12 transition-all  duration 100"/></span>

            </div>
            
        </div>
        






        

    </div>
</section>