
<a 
class="gap-x-2  
inline-flex items-center rounded-md 
bg-[#0D0D0D] px-2 py-1 text-[15px] font-medium 
text-gray-300 ring-1 ring-gray-150 ring-inset hover:bg-gray-700 transition-all duration-200" 
{...Astro.props}>
    
    
    <slot />
</a>
